body{
    font-family: 'Aleo';
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.container {
    max-width: 960px;
}

.site-header {
    background-color: #158043;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #ffffff;
    transition: color .15s ease-in-out;
    text-decoration: none !important;
}
.site-header a:hover {
    color: #d4d4d4;
    text-decoration: underline !important;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/* ---------------------------------------------------------ALERT CSS START */
.alert{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
/* ---------------------------------------------------------ALERT CSS END */

/* ---------------------------------------------------------PAGE CSS START */
.page_title_text{
    text-align: center;
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Abyssinica SIL';
}
/* ---------------------------------------------------------PAGE CSS START */