@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    font-family: 'Questrial', sans-serif;
}

.body {
    margin: 0;
}

.full-container {
    height: 74.8vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.header-container {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    height: 10vh;
    background-color: #158043;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.nav-logo img {
    height: 45px;
    width: 50px;
    padding: 10px;
    margin-left: 10px;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-top: 20px;
    height: 60vh;
}

.input-container {
    width: 60vw;
    height: 100%;
    margin-left: 30px;
}

.qr-container {
    width: 25vw;
    height: 500px;
    /* margin-left: 150px; */
}

.middle-icon {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    position: absolute;
    margin-left: 68.7vw;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    background-color: #158043;
    color: white;
    display: none;
}

.input-criteria {
    margin-top: 20px;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.qr-criteria {
    margin-top: 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-area {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-qr-area {
    margin-top: 20px;
    height: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 18px;
}

.nav-link a {
    text-decoration: none;
    margin: 0px 10px;
    color: white;
    padding: 10px;
    /* transition: 0.3s; */
}

.nav-link a:hover {
    border-bottom: 2px solid white;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.nav-button {
    display: flex;
    flex-direction: row;
}

.share-button button {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
    font-size: 16px;
    color: #158043;
    transition: 0.3s;
}

.modification-title {
    z-index: -1;
}

.share-button button:hover {
    box-shadow: 2px 2px 20px black;
}

.login-button button {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
    font-size: 16px;
    color: #158043;
    transition: 0.3s;
}

.login-button button:hover {
    box-shadow: 2px 2px 20px black;
}

.input-area {
    margin-top: 20px;
}

.input-texarea {
    width: 100%;
    height: 150px;
    padding: 30px 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #158043;
    border-radius: 5px;
    font-size: 26px;
    resize: none;
    outline: none !important;
    word-wrap: break-word;
    word-break: break-all;
}

.qr-area img {
    height: 300px;
    width: 300px;
}

.criteria-button {
    height: 50px;
    width: 150px;
    margin: 0px 10px;
    font-size: 20px;
    border: none;
    box-shadow: 1px 1px 5px rgb(110, 110, 110);
    border-radius: 25px;
    transition: 0.3s;
}

.criteria-button:hover {
    color: white;
    background-color: #158043;
    border: none;
}

.criteria-button:focus {
    color: white;
    background-color: #158043;
    border: none;
}

.criteria-button i {
    margin-right: 10px;
}

.download-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    Align-items: center;
}

.download-button,
.copylink-button,
.disabled-button {
    font-size: 18px;
    height: 50px;
    width: 250px;
    border: none;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
}

.disabled-button {
    background-color: darkgray;
    cursor: no-drop !important;
}

.download-button {
    background-color: #158043;
    margin-top: 10px;
}

.copylink-button {
    background-color: #1974d2;
    margin-top: 20px;
}

.download-button:hover {
    background-color: #116636;
}

.copylink-button:hover {
    background-color: #165ca3;
}

.download-button i,
.copylink-button i,
.disabled-button i {
    margin-right: 10px;
}

.select-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.select-dot-color-container {
    display: flex;
    align-items: center;
}

.select-eye-color-container {
    display: flex;
    align-items: center;
}

.image-input {
    width: 100px !important;
    border: 2px solid grey !important;
    border-radius: 5px !important;
    z-index: 0;
}

.image-input:focus {
    border: 2px solid grey !important;
    box-shadow: none !important;
}

.modification-title {
    display: flex;
    padding: 0%;
    margin: 0%;
    align-items: center;
    width: 200px;
}

.color-input {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px !important;
}

.color-input:hover {
    cursor: pointer;
}

.select-dot-style-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.select-eye-style-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dropper-icon {
    margin-left: 2px;
}

.color-select-btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.style-select-btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
}

.style-label {
    margin-right: 10px;
    font-size: 18px;
}

.style-select-btn:hover,
.style-label:hover {
    /* border: 2px solid #158043 !important; */
    color: #158043 !important;
}

.color-select-btn:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.479);
}

.color-select-btn {
    margin-left: 20px;
    background-color: #1974d2;
    color: white;
}

.style-select-btn {
    margin-right: 5px;
    background-color: white;
    border: 2px solid grey;
}

.additional-style {
    padding-bottom: 15px;
}

.form-label {
    width: 100%;
    background-color: #158043;
    border-radius: 20px 20px 0px 0px;
}

.sign-in-container-full {
    margin-top: 30px;
}

.sign-in-container {
    box-shadow: 1px 1px 20px rgba(163, 163, 163, 0.781);
    width: 50vw;
    /* padding: 30px; */
    flex-direction: column;
    border-radius: 20px;
}

.form-label {
    color: white;
}

.mod-icon {
    margin-right: 10px;
}

.input-contianer {
    flex-direction: column;
    width: 40vw;
    margin: 20px 0px;
    height: 100%;
}

.email-field,
.pass-field {
    border-radius: 20px !important;
    text-indent: 10px;
    height: 40px;
    box-shadow: none;
}

.email-field:focus,
.pass-field:focus {
    border: 1px solid rgba(190, 190, 190, 0.199) !important;
    box-shadow: 0px 0px 10px rgb(168, 168, 168) !important;
}

.email-icon {
    position: absolute;
    margin-right: 635px;
    margin-top: 28px;
    z-index: 2;
}

.pass-icon {
    position: absolute;
    margin-right: 500px;
    margin-top: 60px;
}

.sign-in-btn {
    height: 45px;
    width: 200px;
    border-radius: 25px !important;
    background-color: #158043 !important;
}

.bottom-links {
    flex-direction: column;
    margin-top: 0px;
}

.bottom-links a {
    text-decoration: none;
    color: #2085ff;
}

hr {
    width: 100%;
    background-color: rgb(155, 155, 155) !important;
}

.footer-container {
    background-color: #158043;
    height: 100px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
}

.range-input {
    width: 65% !important;
}

.left-container {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.preview-qr-container {
    width: 35vw;
}

.sizing-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size-label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.download-button {
    margin: 30px 0px;
}

.size-label {
    display: block;
    width: 110px;
}

.dynamic-link-title {
    width: 170px;
    margin-bottom: 0px !important;
}

.form-control:disabled {
    background-color: white !important;
    opacity: 1;
    height: 40px !important;
}

.dynamic-link-title-container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 410px) {
    .nav-link a {
        margin: 0px 2px;
        padding: 0px;
    }

    .sign-in-container {
        width: 98vw;
    }

    .input-contianer {
        width: 80vw;
    }
}

@media only screen and (min-width:411px) and (max-width: 870px) {
    .sign-in-container {
        width: 70vw;
    }

    .input-contianer {
        width: 65vw;
    }
}